.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 14rem 0;

  background: aliceblue;
}

.left_container,
.right_container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.heading_primary::after {
  content: '';
  position: absolute;
  width: 10rem;
  bottom: 0;
  left: 0;
  height: 2px;
  background-image: linear-gradient(to left, aliceblue, rgb(4, 150, 255));
  transition: width 0.5s ease;
}

.left_container {
  width: 35%;
  padding: 2rem 5rem;
  align-items: flex-start;
}

.right_container {
  position: relative;
  width: 45%;
  line-height: 2;
  padding: 3rem 1rem;
}

.right_container::before {
  position: absolute;
  content: '';
  top: -2rem;
  left: -1rem;
  width: 5rem;
  height: 5rem;
  transform: rotateY(180deg);
  background: url(/quote.png);
  background-size: cover;
}
.right_container::after {
  position: absolute;
  content: '';
  bottom: -1rem;
  right: -1rem;
  width: 5rem;
  height: 5rem;
  background: url(/quote.png);
  background-size: cover;
}

.right_container > p {
  font-size: 1.2rem;
  text-indent: 1.5rem;
  margin-bottom: 1rem;
}

.heading_primary {
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 1rem;

  margin-bottom: 4rem;
}

.heading_secondary {
  font-size: 1.4rem;
  font-weight: 400;
}

.first_letter {
  font-size: 4rem;
  line-height: 1;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem 8rem 3rem;
  }

  .left_container {
    width: 100%;
    margin-bottom: 6rem;
  }

  .right_container {
    width: 100%;
  }

  .heading_primary {
    font-size: 1.6rem;
  }

  .heading_secondary {
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
}
@media (min-width: 800px) {
}
@media (min-width: 600px) {
}
