.hero {
  width: 100%;
  height: 59rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(/bg_3.jpg);
  background-size: cover;
  background-position: top center;
}

.content_container {
  width: 100%;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.heading_primary {
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.heading_highlight {
  text-transform: lowercase;
}

.heading_secondary {
  font-size: 1.4rem;
  font-weight: 400;
}

.btn_container {
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.learn_button,
.learn_button:link,
.learn_button:visited {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #99999940;
  border-radius: 10rem;
  color: #000;
  background-color: aliceblue;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease;

  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.learn_button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.learn_button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.learn_button:active,
.learn_button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.learn_button::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: rgb(4, 150, 255, 0.25);
}

@media (min-width: 800px) and (max-width: 800px) {
}
@media (min-width: 500px) and (max-width: 799px) {
  .heading_primary {
    font-size: 2.4rem;
  }

  .heading_secondary {
    font-size: 1.2rem;
  }

  .btn_container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 499px) {
  .heading_primary {
    font-size: 2rem;
  }

  .heading_secondary {
    font-size: 1rem;
  }

  .btn_container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
